//@font-face{
    //font-family: 'my_fontAF'; /*a name to be used later*/
    //src: url("../fonts/agency_fb.ttf"); /*URL to font*/
//}

body{
   // font-family: my_fontAF;
    //background-image: url("../IMG/fondo_.png");
}

#div_principal{
    //border: 1px solid black;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

}

#div_principal #cabecera{
    height: 400px;
    //margin: 5px;
    width: 500px;
   
    
    //border: 1px solid white;
    //margin-left: 1px;
    //margin-bottom: 1px;
   
}

.caja_peli{
    margin-top: 15px;
    border: 1px dotted #1097e6;
    width: 220px;
    height: auto;
    margin-left: 20px;
    float: left;
}

#div_img{
    width: 145px;
    height: 210px;
    //border: 1px solid blue;
    margin: 10px auto;
}

.div_titulo{
    border: 1px dotted #1097e6;
    width: 200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

#div_precio{
    border: 1px dotted #1097e6;
    width: 150px;
    margin: 5px auto;
    text-align: center;
    background-color: #2ecc71;
    color: white;
    font-size: 1.1em;
}

.caja_peli .div_titulo a{
    text-decoration: none;
    color: #1097e6;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

.caja_peli .div_titulo a:hover{
    color: black;    
}

#div_peliculas, #div_usuarios, #div_contacto{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 990px;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
    background-image: url("../IMG/pattern.png");
    padding-bottom: 50px;
    margin-bottom: 5px;


}

#div_usuarios #div_dni{
    margin-top: -5px;
}

#div_usuarios input{
    font-family: my_fontAF;
    font-size: 0.9em;
}

#div_usuarios .styled-select select {

    background: transparent;
    width: 240px;
    padding: 5px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    height: 34px;
    -webkit-appearance: none;
    font-family: my_fontAF;

    //ocultar la flecha hacia abajo del select en firefox
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow : '';
}

#div_usuarios #tit_dni{
    margin-left: 10px;
    background-color: #1097e6;
    width: 200px;
    color: white;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 217px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#div_usuarios .styled-select {
    margin-left: 10px;
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(../../usuarios/VISTA/IMG/select.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
}

.titulo_div_general{
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: #1097e6;
    padding: 5px;
    color: white;
    font-size: 1.5em;
}

#div_detalle_peliculas .titulo_div_general{
    margin-top: -20px;

}

#menu_principal{
    //border: 1px solid white;
    height: 69px;
    margin-left: 5px;
    margin-right: 5px;
}

#menu ul,
#menu ul li,
#menu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
}

#menu {
    height: 69px;
    background: url(../IMG/img_menu/bottom-bg.png) repeat-x center bottom;
    border-radius: 2px;
    //width: auto;
    /*margin-left:  314px;*/
}

#menu ul {
    background: url(../IMG/img_menu/nav-bg.png) repeat-x 0px 4px;
    height: 69px;
}

#menu ul li {
    float: left;
    list-style: none;
}

#menu ul li a {
    display: block;
    height: 37px;
    padding: 22px 30px 0;
    margin: 4px 2px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;

}

#menu ul li:first-child a {
    margin: 4px 2px 0 0;
}

#menu ul li a:hover,
#menu ul li.active a {
    background: url(../IMG/img_menu/color.png) center bottom;
    display: block;
    height: 37px;
    margin-top: 0px;
    padding-top: 26px;
    color: black;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.55);
    opacity: 1;
}

.div_detalle_imagen{
    margin-left: 15px;
    width: 145px;
    height: 210px; 
    margin-top: 10px;
}

#caja_detalle_pelicula{
    width: 610px;
    height: 450px;
    margin: 20px 20px;
    border: 1px dotted #1097e6;
}

#div_detalle_peliculas{
    width: 990px;
    height: 500px;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 20px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url("../IMG/pattern.png");
}

#div_detalle_sinopsis{
    border: 1px dotted #1097e6;
    height: 200px;
    width: 578px;
    margin-left: 15px; 
    margin-top: 20px;
}

#titulo_sinopsis{
    background-color: #1097e6;
    color: white;
    padding-left: 5px;
    margin: 0;
    font-size: 1.2em;
}

.texto_sinopsis{
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
    font-size: 1.1em;
}

.datos_pelicula{
    border: 1px dotted #1097e6;
    width: 420px;
    height: 209px;
    float: right;
    margin-top: -210px;
    margin-right: 15px;
}

#datos_izquierda{
    //border: 1px solid black;
    width: 200px;
    height: 180px;
    margin-top: -13px;
    padding-left: 5px;
}

#datos_derecha{
    //border: 1px solid black;
    width: 200px;
    height: 180px;
    float: right;
    margin-top: -198px;
    text-align: justify;
}

#titulo_ficha{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    padding-left: 5px;
    background-color: #1097e6;
    color: white;
}

.titulos_datos{
    color: #1097e6;
    font-size: 1.2em;
    margin: 0;
}

#boton_trailer{
    float: right;
    border: 1px dotted red;
    height: 50px;
    width: 140px;
    margin-top: -330px;
    margin-right: -150px;
}

#boton_trailer img{
    width: 40px;
    height: 30px;
    margin-left: 5px;
    margin-top: 10px;
}

#boton_trailer a, #boton_alquilar a{
    text-decoration: none;
}

#texto_trailer{
    color: #1097e6;
    margin-left: 5px;
    vertical-align: bottom;
    font-size: 1.3em;
}

#boton_volver{
    float: right;
    border: 1px dotted green;
    height: 50px;
    width: 140px;
    margin-top: -273px;
    margin-right: -150px;
}

#boton_alquilar{
    float: right;
    border: 1px dotted blue;
    height: 50px;
    width: 140px;
    margin-top: -386px;
    margin-right: -150px;
}

#precio_pelicula{
    color: white;
    background-color: #2ecc71;
    border: 1px dotted #1097e6;
    height: 50px;
    width: 140px;
    float: right;
    margin-top: -443px;
    margin-right: -150px;
    text-align: center;
    font-size: 1.3em;
}

#texto_precio{
    margin-top: 10px;
}

#boton_alquilar img{
    margin-left: 5px;
}

#texto_alquilar{
    color: #1097e6;
    font-size: 1.3em;
    margin-top: 15px;
    margin-right: 35px;
    float: right;
}

#texto_alquilar:hover{
    color: blue;
}

#boton_volver img{
    width: 48px;
    height: 48px;
}

#boton_volver a{
    text-decoration: none;
}


#texto_volver:hover{
    color: green;
}

#texto_volver{
    color: #1097e6;
    margin-right: 25px;
    margin-top: 15px;
    float: right;
    font-size: 1.3em;
}

#texto_trailer:hover{
    color: red;
}

#logo_cine{
    margin-top: 10px;

}

#titulo_cine_com, #titulo_cine{
    padding-bottom: 20px;
}

#titulo_cine_com{
    margin-left: -10px;
}

#logo{
    height: 100px;
    width: 575px;
    cursor: pointer;
}

.div_lateral_cat{
    width: 190px;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    background-image: url("../IMG/pattern.png");
    border-radius: 5px;
    padding-bottom: 5px;

}

.div_lateral_adm{
    float: right;
    //border: 1px solid white;
    background-image: url("../IMG/pattern.png");
    width: 190px;
    margin-right: -195px;
    margin-top: 250px;
    border-radius: 5px;

}

.div_lateral_cat ul, .div_lateral_adm ul{
    float: left;
    //width: 95%;
    //margin-left: 20px;
    list-style-type: circle;
    //border: 1px solid black;

}

.div_lateral_cat ul li a, .div_lateral_adm ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.div_lateral_cat ul li a:hover, .div_lateral_adm ul li a:hover{
    color: orange;
}

.titulo_categorias{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid white;
    background-color: #1097e6;
    color: white;
    margin: 0;
    padding: 0;
    padding: 5px;
    text-align: center;
}

.div_usuarios{
    border: 1px solid black;
    border-radius: 5px;
    width: 990px;
    margin-top: 5px;
    float: left;
    margin-left: 5px;
    background-image: url("../IMG/pattern.png");
    padding-bottom: 15px;
}

.div_formulario label{
    display: block;
    margin-left: 7px;
    margin-bottom: 1.5px;
}

.div_formulario{
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 10px;
    width: 720px;
    border: 1px dotted #1097e6; 
    border-radius: 5px;
    padding-bottom: 10px;
}

.div_formulario input, #div_contacto input, #login input{
    padding:10px;
    border:solid 1px #DEDEDE;
    border-radius:5px;
    width: 250px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.div_formulario > .derecha > #select_tipo{
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 5px;
    margin-bottom: 19px;
}


.div_formulario input:focus, #div_contacto input:focus, .formulario_contacto #div_mensaje textarea:focus, #login input:focus{
    box-shadow:0 0 15px #1097e6;
}

.div_formulario > .izquierda{
    //border: 1px solid black;
    width: 360px;
}

.div_formulario > .derecha{
    padding-top: 2px;
    margin-top: -481px;
    //border: 1px solid black;
    width: 355px;
    float: right;

}

.div_usuarios .formulario_usuarios label{
    display: block;
    margin-left: 7px;
    margin-bottom: -5px;
}

.div_usuarios .menu_usuarios ul{
    //border: 1px dotted #1097e6; 
    border-collapse: collapse;
}

.div_usuarios .menu_usuarios ul li{
    border: 1px dotted #1097e6;
    margin-bottom: 2px;
    list-style: none;
    padding: 10px;
    width: 180px;
    font-size: 1.2em;
    margin-left: -40px;

}

.div_usuarios .menu_usuarios ul li:hover{

    background-color: #1097e6;
    cursor: pointer;
    color: white;
}

.submit_btn{
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.1em;
    color: #1097e6;
    font-family: my_fontAF;

}

.submit_btn:hover{
    background-color: #ccc;
}

#div_fotter{
    clear:both;
    text-align: right;
    color: white;
    background-color: #1097e6;
    //border: 1px solid white;
    width: 990px;
    margin-left: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.formulario_contacto{
    //border: 1px dotted #1097e6;
    width: 600px;
    margin: 30px auto;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formulario_contacto #div_nombre, .formulario_contacto #div_correo{
    //border: 1px solid black;
    width: 340px;
    margin: 10px auto;

}

#div_contacto input, #div_contacto textarea{
    width: 340px;
    margin-left: 0;
    font-family: my_fontAF;
    font-size: 1em;
}

#div_contacto textarea{
    padding-left: 10px;
}

#div_contacto label{
    margin-left: 5px;
}

.formulario_contacto #div_mensaje textarea{
    border: none;
    resize: none; 
    border-radius: 5px;

}

.formulario_contacto #div_mensaje{
    //border: 1px solid black;
    width: 340px;
    margin: 0 auto;
}

#div_contacto .button, #div_usuarios .button, #login .button {
    width: 340px;
    height: 35px;
    line-height: 35px;
    margin-left: 130px;
    margin-top: 25px;
    padding: 0 20px;
    font-family: my_fontAF;
    font-size: 17px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.08), 0 1px 2px rgba(0, 0, 0, 0.25);
}

#div_contacto .button-blue, #div_usuarios .button-blue, #login .button-blue{
    background: #1097e6;
    border-color: #0d78b6 #0d78b6 #0b689e;
    background-image: -webkit-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3);
    background-image: -moz-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3);
    background-image: -o-linear-gradient(top, #25a5f0, #1097e6 66%, #0f8ad3);
    background-image: linear-gradient(to bottom, #25a5f0, #1097e6 66%, #0f8ad3);
}


#div_usuarios .button{
    margin-left: 10px;
    width: 200px;
}

.aviso_error{
    margin-left: 5px;
    padding: 0;
    color: red;
}


#div_principal #login{
    width: 200px;
    height: 35px;
    //border-bottom: 3px solid #1097e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 995px;
    margin-top: -70px;
    background: url(../IMG/img_menu/nav-bg.png);
    text-align: center;
    padding-top: 15px;
}

#div_principal #login a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;

}

#div_principal #login a:hover{
    color: #1097e6;   
}

/********** estilo del popup login **********/

/**** capa transparente ****/
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=50);
}
/**** div login ****/
#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -150px;
    margin-top: -100px;                 
    //border: 1px solid #1097e6;
    background-color: white;
    z-index:1002;
    overflow:visible;
    text-align: left;
    border-radius: 5px;

}

#login label{
    display: block;
    margin-left: 10px;
    margin-bottom: -2px;
    margin-top: 5px;
    color: #1097e6;
}

#login input{
    margin-left: 10px;
    width: 300px;
    border-radius: 3px;
    font-family: my_fontAF;
    font-size: 0.9em;
}

#login #enviar{
    width: 150px;
    margin: 10px;
}

#login .help_login{
    display: block;
    
}

#login span{
    margin-left: 10px;
    display: block;
}

#login span:hover{
    color: #1097e6;
    cursor: pointer;
}

/*******************************************/

.pager{
    //border: 1px solid black;
    height: 30px;
    clear: both;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-family: my_fontAF;
}

.pager a {
    border: 1px dotted #1097e6;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    background-color: #2ecc71;
    color: white;
}