/* ######################### MENU STYLE #########################*/
#imSite { position: relative; }
#imMnMn { text-align: center; }
#imMnMn > ul { z-index: 10001; display: inline-block; }
#imMnMn li > ul { z-index: 10002; }

/* Main Menu */

#imMnMn ul, #imPgMn ul {padding:0;margin:0;list-style-type:none; }
#imMnMn > ul > li { position: relative; margin-left: 0px;  }

/* Links */
//#imMnMnNode0 { background-image: url('../menu/index.png'); height: 49px; width: 165px; }
#imMnMnNode0 .imMnMnFirstBg { height: 49px; width: 165px; }
#imMnMnNode0:hover { background: none; background-image: none; }
#imMnMnNode0:hover .imMnMnFirstBg { background-image: url('../menu/index_h.png'); height: 49px; width: 165px;}
#imMnMnNode0.imMnMnCurrent { background: none; background-image: none; }
//#imMnMnNode0.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/index_c.png'); height: 49px; width: 165px;}
#imMnMnNode3 { background-image: url('../menu/pagina-1.png'); height: 49px; width: 165px; }
#imMnMnNode3 .imMnMnFirstBg { height: 49px; width: 165px; }
#imMnMnNode3:hover { background: none; background-image: none; }
//#imMnMnNode3:hover .imMnMnFirstBg { background-image: url('../menu/pagina-1_h.png'); height: 49px; width: 165px;}
#imMnMnNode3.imMnMnCurrent { background: none; background-image: none; }
//#imMnMnNode3.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/pagina-1_c.png'); height: 49px; width: 165px;}
//#imMnMnNode4 { background-image: url('../menu/pagina-2.png'); height: 49px; width: 165px; }
#imMnMnNode4 .imMnMnFirstBg { height: 49px; width: 165px; }
#imMnMnNode4:hover { background: none; background-image: none; }
//#imMnMnNode4:hover .imMnMnFirstBg { background-image: url('../menu/pagina-2_h.png'); height: 49px; width: 165px;}
#imMnMnNode4.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode4.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/pagina-2_c.png'); height: 49px; width: 165px;}
//#imMnMnNode5 { background-image: url('../menu/pagina-3.png'); height: 49px; width: 165px; }
#imMnMnNode5 .imMnMnFirstBg { height: 49px; width: 165px; }
#imMnMnNode5:hover { background: none; background-image: none; }
//#imMnMnNode5:hover .imMnMnFirstBg { background-image: url('../menu/pagina-3_h.png'); height: 49px; width: 165px;}
#imMnMnNode5.imMnMnCurrent { background: none; background-image: none; }
#imMnMnNode5.imMnMnCurrent span.imMnMnFirstBg { background-image: url('../menu/pagina-3_c.png'); height: 49px; width: 165px;}
#imMnMn .imMnMnFirstBg .imMnMnTxt {display: none;}
#imMnMn > ul > li.imMnMnSeparator { background: transparent url('../res1/separatorh.png') no-repeat center center; width: 10px; height: 49px; }
#imMnMn .imMnMnFirstBg { position: relative; display: block; background-repeat: no-repeat; cursor: pointer; width: 100%; }
#imMnMn a { border: none; cursor: pointer; }
#imMnMn .imMnMnTxt { text-overflow: ellipsis; white-space: nowrap; }


/* MENU POSITION : HORIZONTAL VerticalOneColumn */
#imMnMn ul .autoHide, #imMnMn ul div .autoHide { display: none; }

/* ######################### MAIN MENU POSITION #########################*/

/* div: Menu container*/
#imMnMn { z-index:10000; }
#imMnMn > ul { position: relative; }
#imMnMn > ul > li > ul { position: absolute; }

/* First level menu style */
#imMnMn > ul > li { display: inline-block; width:165px; }
#imMnMn > ul > li span { display:block; padding:0;}
#imMnMn a { cursor: pointer; display: block; width:165px;}

/* ########################## SUB MENU POSITION #########################*/

#imMnMn.auto ul li ul li { top: 0px; }

/* Second level boxmodel*/
#imMnMn.auto ul li ul li ul { position: absolute; width: 160px; }

/* Hide Levels */
#imMnMn.auto li:hover > ul.auto { display:block; }
#imMnMn.auto li ul.auto { display: none; }
#imMnMn ul ul li .imMnMnBorder { overflow: hidden; }

/* End of file menu.css */