html {position: relative; margin: 0; padding: 0; background-image: url('bg.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-color: transparent}
body {margin: 0; padding: 0; text-align: left;}
#imPage {padding-top: 36px; margin: 0px auto 0px auto; width: 960px; position: relative;}
#imHeaderBg {position: absolute; left: 0; top: 0; height: 218px; width: 100%; background-image: url('headerbg.png'); background-position: center top; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent}
#imHeader {height: 210px; background-color: transparent; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 0; left: 0;  height: 36px; width: 960px; padding: 0px 0px 0px 0px; background-color: transparent}
#imMnMn > ul { text-align: center; }
#imMnMn li {display: inline}
#imContent {min-height: 1000px; position: relative; width: 860px; padding: 50px 50px 50px 50px; }
#imContentGraphics {min-height: 1000px; position: absolute; top: 246px; bottom: 0px; left: 0; width: 960px; background-image: url('content.png'); background-position: center center; background-repeat: repeat-y; background-attachment: scroll; background-color: transparent}
#imFooterBg {position: absolute; left: 0; bottom: 0; height: 74px; width: 100%; background-color: transparent}
#imFooter {position: relative; margin: 0 auto; height: 0px; width: 960px; background-color: transparent;}
